body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#chat-container {
    max-width: 400px;
    height: 700px;
    margin: 20px auto;
    background-image:url(my\ image/Screenshot_20240205_005529.jpg);
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-box {
    padding: 30px;
    height: 520px;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* 确保消息按列排列 */
}

#user-input {
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    justify-content: space-around;
    display: block;
    width: 100%;
}

button {
    padding: 12px 16px;
    background-color: #91bf65;
    color: #3c3c3c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
}

.user-message {
    float: right;
    background-color: #91bf65;
    color: #3c3c3c;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}

.clear-fix {
    clear: both;
}

.other-message {
    background-color: #e8e9e4;
    color: #3c3c3c;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    text-align: left
}